sentence-transformers==2.2.2 # generating embeddings using open source model from hf.
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
-e .